
*{
    margin: 0;
    padding: 0;
    font-family: ‘Rouge Script’, cursive;

}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 5px;

}

::-webkit-scrollbar-thumb {
    background: transparent;
    border: solid rgba(255,255,255, 0.7) 2px;
    border-radius: 5px;
}
#initiativeList::-webkit-scrollbar-track {
     background: rgba(0, 0, 0, 0.2);
     border-radius: 5px;
 }
#playersDiv::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 30px;


::-webkit-scrollbar-track {
    margin: 10px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}
#npcDiv::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 30px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}
body{
    background-image: linear-gradient(315deg, #D67D3E,#733C3C);
    background-image: -webkit-linear-gradient(315deg, #03A88B,#EFBC5E);
    display: flex;
    background-attachment: fixed;
    height: auto;
    width: 98vw;
    min-height: 900px;
    min-width: 900px;
    }

/*.container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(315deg, #D67D3E,#733C3C);
    background-image: -webkit-linear-gradient(315deg, #D67D3E,#733C3C);
    display: flex;
    background-attachment: scroll;
}*/

.header{
    height: fit-content;
    min-width: 20px;
    width: 50px;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.theme{
    height: 60px;
    width: 60px;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 30px;
    margin: 10px;
}
#theme1{background-image: -webkit-linear-gradient(315deg, #738BF9, #383796);}
#theme2{background-image: -webkit-linear-gradient(315deg,  #D67D3E,#9e4d4d);}
#theme3{background-image: -webkit-linear-gradient(315deg,  #F6AB5D, #CB5F81);}
#theme4{background-image: -webkit-linear-gradient(315deg, #4E9683, #E1655A);}
#theme5{background-image: -webkit-linear-gradient(315deg, #C8D0E9, #6698A5);}
#theme6{background-image: -webkit-linear-gradient(315deg, #8FDB97, #926F66);}
#theme7{background-image: -webkit-linear-gradient(315deg, #827002, #814137);}
#theme8{background-image: -webkit-linear-gradient(315deg, #8A87B5, #B52BAF);}
#theme9{background-image: -webkit-linear-gradient(315deg, #BB530D, #1ED5F4);}
#theme0{background-image:  -webkit-linear-gradient(315deg, #A6F4F8, #28A2DE);}
.contents{
    height: 100%;
    width: auto;
    flex-grow : 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 500px;
    min-width: 400px;

}
#initiativeContainer{

    height: fit-content;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;


}
#sortInitiative{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 110px;
    height: 95px;
    background: none;
    border-radius: 17px;
    border: solid rgba(255,255,255, 0.7) 3px;
    font-size: 1.3em;
    padding: 4px;
}
#initiativeList{
    margin: 0 4px;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    white-space:nowrap;
    height: 95px;


    overflow-x: scroll;
}
.initiativeElement{
    display: inline-block;
    vertical-align: top;

    flex-direction: column;
    width: fit-content;
    font-size: 1.1em;
    justify-content: space-between;
    align-items: center;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    min-height: 30px;
    margin: 5px;
    padding: 0 10px;

}
.obj{
    flex-grow : 1;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: fit-content;

}

.list{
    flex-grow : 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px ;
    height: fit-content;
    /*border: solid 5px white;*/
    flex-wrap: wrap;
}

#playersDiv,
#npcDiv{
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    min-height: 400px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px ;
    min-width: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;


}
.player,
.npc{
    font-size: 1.1em;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    min-height: 75px;
    height: fit-content;
    margin: 5px;
    padding: 0 10px;
}
.playerHP,
.playerInitiative,
.npcHP,
.npcInitiative{
    font-size: 1.1em;
    background: none;
    margin: 3px;
    width: 2em;
    border: solid rgba(255,255,255, 0.5) 2px;
    border-radius: 6px;
    text-align: center;
}
.playerName,
.npcName{
    min-width: 200px;
    height: 100%;
    max-width: 315px;
    word-break: break-all;
    font-size: 1.1em;
    background: none;
    margin: 3px;
    border: solid rgba(255,255,255, 0.5) 2px;
    border-radius: 6px;
    text-align: center;

}
.playerForm,
.npcForm{
    min-height: fit-content;
    display: flex;


    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.playerInitiativeInput,
.playerHPInput,
.playerMaxHPInput,
.playerNameInput,
#playerAddBtn,
.playerNameInitiative,
.npcInitiativeInput,
.npcHPInput,
.npcMaxHPInput,
.npcNameInput,
#npcAddBtn{
    font-size: 1.1em;
    padding: 4px;
    background: none;
    border-radius: 17px;
    border: solid rgba(255,255,255, 0.7) 3px;
    margin: 2px;
}
.playerNameInitiative{
    border: none;
}
.playerInitiativeInput,
.npcInitiativeInput{
    width: 140px;
}
.playerHPInput,
.playerMaxHPInput,
.npcHPInput,
.npcMaxHPInput{
    width: 40px;
}

.playerNameInput,
.npcNameInput{
    width: revert;
    flex-grow : 1;

}

.delete{
    font-size: 1.1em;
    width: fit-content;
    background: none;
    border-radius: 17px;
    border: solid rgba(255,255,255, 0.7) 3px;
    padding: 4px;
    margin: 4px;
}

    /*.hint{*/
    /*    height: 80px;*/
    /*    border: solid rgba(255,255,255, 0.7) 3px;*/
    /*    border-radius: 20px;*/
    /*    margin: 10px 0;*/
    /*}*/
