
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(315deg, #D67D3E,#733C3C);
    background-image: -webkit-linear-gradient(315deg, #D67D3E,#733C3C);
    display: flex;
    background-attachment: fixed;
    height: 100vh;

    }
.player{
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    min-height: 30px;
    margin: 5px;
}

/*.container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(315deg, #D67D3E,#733C3C);
    background-image: -webkit-linear-gradient(315deg, #D67D3E,#733C3C);
    display: flex;
    background-attachment: scroll;
}*/

.header{
    height: 100%;
    min-width: 20px;
    width: 70px;
}
.contents{
    height: 100%;
    width: auto;
    flex-grow : 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 500px;
    min-width: 400px;
}
.initiative{
    height: 60px;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    margin: 10px 0;
    padding: 0 10px;
    display: flex;
    align-items: center;

}
#sortInitiative{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 110px;
    height: 50px;
    background: none;
    border-radius: 17px;
    border: solid rgba(255,255,255, 0.7) 3px;
    font-size: larger;
}
.obj{
    flex-grow : 1;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

.list{
    flex-grow : 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px ;
    height: fit-content;
    /*border: solid 5px white;*/

}
.forms{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    /*border: solid 5px white;*/
}
#playersDiv{
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px 0;

}
#npcDiv{
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    height: 100%;
    width: 45%;
    padding: 10px 0;

}
    /*.hint{*/
    /*    height: 80px;*/
    /*    border: solid rgba(255,255,255, 0.7) 3px;*/
    /*    border-radius: 20px;*/
    /*    margin: 10px 0;*/
    /*}*/
