
*{
    margin: 0;
    padding: 0;
    font-family: ‘Rouge Script’, cursive;

}

body{
    background-image: linear-gradient(315deg, #D67D3E,#733C3C);
    background-image: -webkit-linear-gradient(315deg, #D67D3E,#733C3C);
    display: flex;
    background-attachment: fixed;
    height: 100vh;
    width: 98vw;
    min-width: fit-content;
    }

/*.container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(315deg, #D67D3E,#733C3C);
    background-image: -webkit-linear-gradient(315deg, #D67D3E,#733C3C);
    display: flex;
    background-attachment: scroll;
}*/

.header{
    height: fit-content;
    min-width: 20px;
    width: 50px;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.theme{
    height: 60px;
    width: 60px;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 30px;
    margin: 10px;
}
#blue{
    background-image: -webkit-linear-gradient(315deg, #738BF9, #383796);
}
#orange{
    background-image: -webkit-linear-gradient(315deg,  #D67D3E,#9e4d4d);
}
#purple{
    background-image: -webkit-linear-gradient(315deg,  #F6AB5D, #CB5F81);
}
#dark{
    background-image: -webkit-linear-gradient(315deg, #4E9683, #E1655A);
}
.contents{
    height: 100%;
    width: auto;
    flex-grow : 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 500px;
    min-width: 400px;
}
#initiativeList{
    height: fit-content;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;

}
#sortInitiative{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 110px;
    height: fit-content;
    background: none;
    border-radius: 17px;
    border: solid rgba(255,255,255, 0.7) 3px;
    font-size: 1.3em;
    padding: 4px;
}
.initiativeElement{
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 1.1em;
    justify-content: space-between;
    align-items: center;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    min-height: 30px;
    margin: 5px;
    padding: 0 10px;

}
.obj{
    flex-grow : 1;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

.list{
    flex-grow : 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px ;
    height: fit-content;
    /*border: solid 5px white;*/

}

#playersDiv,
#npcDiv{
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px 0;
    min-width: fit-content;
}
.player,
.npc{
    font-size: 1.1em;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    min-height: 30px;
    margin: 5px;
    padding: 0 10px;
}
.playerHP,
.playerInitiative,
.npcHP,
.npcInitiative{
    font-size: 1.1em;
    background: none;
    margin: 3px;
    width: 2em;
    border: solid rgba(255,255,255, 0.5) 1px;
    border-radius: 6px;
    text-align: center;
}
.playerName,
.npcName{
    min-width: 200px;
    width:fit-content;
    height: 100%;
    max-width: 315px;
    word-break: break-all;
    font-size: 1.1em;
    background: none;
    margin: 3px;
    border: solid rgba(255,255,255, 0.5) 1px;
    border-radius: 6px;
    text-align: center;
}
#npcDiv{
    border: solid rgba(255,255,255, 0.7) 3px;
    border-radius: 20px;
    height: 100%;
    width: 45%;
    padding: 10px 0;

}

.forms{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  0 40px;
    
    /*border: solid 5px white;*/
}
.playerForm,
.npcForm{
    display: flex;
    height: 100%;
    width: 45%;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    min-width: fit-content;
}

.playerInitiativeInput,
.playerHPInput,
.playerMaxHPInput,
.playerNameInput,
#playerAddBtn,
.playerNameInitiative,
.npcInitiativeInput,
.npcHPInput,
.npcMaxHPInput,
.npcNameInput,
#npcAddBtn{
    font-size: 1.1em;
    padding: 4px;
    background: none;
    border-radius: 17px;
    border: solid rgba(255,255,255, 0.7) 3px;
    margin: 2px;
}
.playerNameInitiative{
    border: none;
}
.playerInitiativeInput,
.npcInitiativeInput{
    width: 140px;
}
.playerHPInput,
.playerMaxHPInput,
.npcHPInput,
.npcMaxHPInput{
    width: 40px;
}

.playerNameInput,
.npcNameInput{
    width: revert;
    flex-grow : 1;

}
.npcForm{
    display: flex;
    height: 100%;
    width: 45%;
}
.delete{
    font-size: 1.1em;
    width: fit-content;
    background: none;
    border-radius: 17px;
    border: solid rgba(255,255,255, 0.7) 3px;
    padding: 4px;
    margin: 4px;
}

    /*.hint{*/
    /*    height: 80px;*/
    /*    border: solid rgba(255,255,255, 0.7) 3px;*/
    /*    border-radius: 20px;*/
    /*    margin: 10px 0;*/
    /*}*/
